*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubic",sans-serif;
}

@media (min-width: 1400px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
}

body {
  background-color: #f5f3f7;
  min-height: 100vh;
}

.primary-header {
  font-size: 4rem;
  color: #3e2753;
  padding-bottom: 2rem;
}

.paragraph {
  font-size: 2rem;
  color: #a39daa;
  line-height: 1.2;
}

.tertiary-header {
  font-size: inherit;
  font-weight: 700;
  color: #ffffff;
}

.tertiary-subheader {
  font-weight: 300;
  color: #a39daa;
  margin-top: .2rem;
}

.msg-paragraph {
  font-size: inherit;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.2;
}

.layout-pics {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
}

.layout-icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: rgba(255, 255, 255, 0.25);
  margin-right: 1rem;
}

.layout-end {
  height: 2.6rem;
  width: 2.6rem;
  fill: #ffffff;
  background: #3e2753;
  border-radius: 100px;
  position: absolute;
  right: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 670px) {
  .layout-end {
    right: 1rem;
  }
}

.layout-input {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  padding: 1rem 0;
  border-radius: 100px;
  position: relative;
  margin-bottom: 1rem;
}

@media (max-width: 670px) {
  .layout-input {
    width: 26rem;
  }
}

.layout-input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 2rem;
  color: #c6cacd;
}

@media (max-width: 1200px) {
  .layout-input {
    margin-bottom: 1rem;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 670px) {
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-section__layout {
  background-color: #f5f3f7;
  border-radius: 2rem;
  max-height: 50rem;
  height: 75%;
  width: 25rem;
  position: relative;
  border: 1rem solid #ffffff;
}

@media (max-width: 900px) {
  .main-section__layout {
    min-height: 56rem;
    width: 27rem;
  }
}

.main-section__layout--body {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  font-size: 55%;
}

.main-section__layout--end {
  margin: 0 1rem;
}

.main-section__layout--end > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__layout--msg1, .main-section__layout--msg2, .main-section__layout--msg6 {
  background-color: rgba(216, 158, 255, 0.25);
  display: inline-block;
  padding: 1rem;
  margin: .5rem 0;
  width: 17rem;
  border-radius: 1rem 9px 9px 0;
  color: #9241c8;
}

.main-section__layout--msg3, .main-section__layout--msg4, .main-section__layout--msg5 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5rem 0;
}

.main-section__layout--msg4, .main-section__layout--msg5 {
  background-color: #ffffff;
  display: inline-block;
  padding: 1rem;
  width: 17rem;
  border-radius: 9px 9px 0 1rem;
  color: #000;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.main-section__layout--msg5 {
  width: auto;
}

.main-section__layout--msg7, .main-section__layout--msg8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#e570ff), to(#8838ff));
  background: linear-gradient(to right bottom, #e570ff, #8838ff);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem 9px 9px 0;
  color: #ffffff;
  margin: .5rem 0;
}

.main-section__layout--msg7 > *, .main-section__layout--msg8 > * {
  margin: 0 .5rem;
}

.main-section__layout--msg7__block1, .main-section__layout--msg8__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.main-section__layout--upper-white {
  background-color: #ffffff;
  height: 3rem;
  width: 55%;
  border-radius: 100px;
  position: absolute;
  top: -2%;
  left: 50%;
  -webkit-transform: translate(-50%, -2%);
          transform: translate(-50%, -2%);
  z-index: 2;
}

@media (max-width: 900px) {
  .main-section__layout--upper-white {
    top: -1.7%;
    -webkit-transform: translate(-50%, -1.7%);
            transform: translate(-50%, -1.7%);
  }
}

.main-section__layout--top-content {
  background: -webkit-gradient(linear, right top, left bottom, from(#e570ff), to(#8838ff));
  background: linear-gradient(to left bottom, #e570ff, #8838ff);
  height: 6.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__layout--top-content > * {
  margin: 0 1.5rem;
  margin-top: 2rem;
}

.main-section__layout--top-content__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__layout--icon {
  height: 2rem;
  width: 2rem;
  fill: #ffffff;
}

.main-section__layout--icon2 {
  height: 1rem;
  width: 1rem;
  fill: #ffffff;
}

.main-section__layout--imagebox {
  margin-right: 1rem;
}

.main-section__layout--img {
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

.main-section__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 55rem;
  margin-left: 15rem;
}

@media (max-width: 1200px) {
  .main-section__rightside {
    margin-left: 10rem;
  }
}

@media (max-width: 900px) {
  .main-section__rightside {
    margin-left: 7rem;
  }
}

@media (max-width: 670px) {
  .main-section__rightside {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 0;
    width: 35rem;
    text-align: center;
    margin-left: 0;
    font-family: "Rubic",sans-serif;
    font-weight: 500;
    line-height: 1.7;
  }
}

.left-background {
  height: 75vh;
  width: 40rem;
  background: -webkit-gradient(linear, right top, left bottom, from(#e570ff), to(#8838ff));
  background: linear-gradient(to left bottom, #e570ff, #8838ff);
  border-radius: 0 0 55rem 55rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-15%, 0);
          transform: translate(-15%, 0);
}

@media (max-width: 670px) {
  .left-background {
    width: 65%;
    height: 55%;
  }
}

.right-background {
  height: 75vh;
  width: 25rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(216, 158, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(216, 158, 255, 0.1));
  border-radius: 0 0 55rem  0;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 670px) {
  .right-background {
    border-radius: 55rem 0 0  0;
    width: 35%;
    height: 55%;
    -webkit-transform: translateY(24rem);
            transform: translateY(24rem);
  }
}

.body-main {
  max-width: 110rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 670px) {
  .body-main {
    max-height: 55rem;
  }
}
