.main-section{
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;

    @include response (Small-screen){
        flex-direction: column;
    }





    &__leftside{
        // background-color: $color-white;
        // height: 55rem;
        // width: 28rem;
        // border-radius: 3rem;
        // box-shadow: 0 1rem 2rem rgba(#000,.15);









    }

    &__layout{
        background-color: $color-light-grayish-violet;
        border-radius: 2rem;
        max-height: 50rem;
        height: 75%;
        width: 25rem;
        // margin: 1.3rem 1rem;
        position: relative;
        border: 1rem solid $color-white;


        @include response (Medium-screen){
            // background-color: black;
            min-height: 56rem;
            width: 27rem;

        }



        & > * {


        }





        &--body{
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height:auto;
            font-size: 55%;
        }

        &--end{
            margin: 0 1rem;


            & > * {
                display: flex;
                align-items: center;

            }


        }


        &--msg1,
        &--msg2,
        &--msg6{

            background-color: rgba($color-sub-heading,.25);
            display: inline-block;
            padding: 1rem;
            margin: .5rem 0;
            width: 17rem;
            border-radius: 1rem 9px 9px 0;
            color: $color-chat-left;
        }
        &--msg3,
        &--msg4,
        &--msg5{
            align-self: flex-end;
            margin: .5rem 0;

        }

        &--msg4,
        &--msg5{
            background-color: $color-white;
            display: inline-block;
            padding: 1rem;
            width: 17rem;
            border-radius:9px 9px 0 1rem;
            color: #000;
            box-shadow: 0 1rem 2rem rgba(#000,.15);

        }

        &--msg5{
            width: auto;
        }

        &--msg7,
        &--msg8{
            display: flex;
            width: 19rem;
            background: linear-gradient(to right bottom,$color-light-magenta-button,$color-light-violet);
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 1rem 9px 9px 0;
            color: $color-white;
            margin: .5rem 0;

            & > *{
                margin: 0 .5rem;
            }

            &__block1{
                display: flex;
                align-items: center;
                flex: 0 1 55%;
            }





        }



        &--upper-white{
            background-color: $color-white;
            height: 3rem;
            width: 55%;
            // margin: 0 auto;
            border-radius: 100px;
            position: absolute;
            // margin: 0 auto;
            top: -2%;
            left: 50%;
            transform: translate(-50%,-2%);
            z-index: 2;

            @include response (Medium-screen){
                top: -1.7%;
                transform: translate(-50%,-1.7%);
            }


        }

        &--top-content{
            background:linear-gradient(to left bottom, $color-light-magenta-button,$color-light-violet);
            height: 6.5rem;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            & > * {
                margin: 0 1.5rem;
                margin-top: 2rem;


            }




            &__leftside{
                display: flex;
                align-items: center;

            }
        }

        &--icon{
            height: 2rem;
            width: 2rem;
            fill: $color-white;

        }
        &--icon2{
            height: 1rem;
            width: 1rem;
            fill: $color-white;
        }

        &--imagebox{
            margin-right: 1rem;
        }

        &--img{
            height: 3rem;
            width: 3rem;
            border-radius: 100px;
            border: 1px solid $color-white;
        }





    }

    &__rightside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 55rem;
        margin-left: 15rem;


        @include response(Large-screen) {
            margin-left: 10rem;
        }

        @include response (Medium-screen){
            margin-left: 7rem;
        }

        @include response (Small-screen){
            align-items: center;
            margin-top: 5rem;
            width: 35rem;
            text-align: center;
            margin-left: 0;
        }

    }
}