*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Rubic",sans-serif;

}
body{
    background-color:$color-light-grayish-violet;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}