*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Rubic",sans-serif;


    @include response (Xtra-Large-screen){
        font-size: 100%;
    }
    @include response (Medium-screen){
        font-size: 45%;
    }


}
body{
    background-color:$color-light-grayish-violet;
    min-height: 100vh;



}