.left-background{
    height: 75vh;
    width: 40rem;
    background:linear-gradient(to left bottom, $color-light-magenta-button,$color-light-violet);
    // border-end-start-radius:50rem;
    // border-end-end-radius:50rem;
    border-radius: 0 0 55rem 55rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%,0);

    @include response(Small-screen){
        width: 65%;
        height: 55%;
    }


}

.right-background{
    height: 75vh;
    width: 25rem;
    background:linear-gradient(to right bottom, $color-light-gradiant);
    border-radius:  0 0 55rem  0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform:rotate(180deg);

    @include response(Small-screen){
        border-radius: 55rem 0 0  0;
        width: 35%;
        height: 55%;
        transform: translateY(24rem);
    }




}


.body-main{
    // background-color: orange;
    max-width: 110rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @include response (Small-screen){
        max-height: 55rem;
    }
}